List Operations & Methods
*italicized text*

1. append() - Add to end

In [4]:
#append is used to add a value at the end.

my_list=["apple","mango","banana"]
my_list.append("orange")
print(my_list)

['apple', 'mango', 'banana', 'orange']

2. insert(index, value) - Insert at index

In [ ]:
# Insert is used to add a value at certein index.

In [5]:
my_list=["apple","mango","banana"]
my_list.insert(1,"orange")
print(my_list)

['apple', 'orange', 'mango', 'banana']

3. extend(iterable) - Add multiple elements

In [6]:
#extend is used to add more values at the end.

my_list=["apple","mango","banana"]
my_list.extend(["orange","kiwi", "cherry"])
print(my_list)

['apple', 'mango', 'banana', 'orange', 'kiwi', 'cherry']

4. remove(value) - Remove first match

In [7]:
# remove is used to remove any value from the list.

my_list=["apple","mango","banana"]
my_list.remove("mango")
print(my_list)

['apple', 'banana']

5. pop([index]) â€“ Remove by index (last by default)

In [17]:
my_list=["apple","mango","banana"]
my_list.pop(1)
print(my_list)

['apple', 'banana']

In [18]:
# to remove last value leave the bracket empty () like this.

my_list=["apple","mango","banana"]
my_list.pop()
print(my_list)

['apple', 'mango']

6. clear() - Empty the list

In [19]:
my_list.clear()
print(my_list)

[]

7. index(value) - Get index of first match

In [20]:
my_list=["apple","mango","banana"]
print(my_list.index("mango"))

1

8. count(value) - Count occurrences

In [21]:
my_list=["apple","mango","banana","mango"]
print(my_list.count("mango"))

2

9. sort() - Sort in place

In [22]:
my_list=["apple","mango","banana"]
my_list.sort()
print(my_list)

['apple', 'banana', 'mango']

10. reverse() - Reverse order

In [23]:
my_list = ["apple", "mango", "banana"]
my_list.reverse()
print(my_list)

['banana', 'mango', 'apple']

11. copy() - Shallow copy

In [26]:
# Copy() is used to copy existing list to new list.

my_list = ["apple", "mango", "banana", "cherry"]
new_list = my_list.copy()
print(new_list)

['apple', 'mango', 'banana', 'cherry']