**Lists In Python**

In [5]:
# You can store integers, strings, floats, booleans, or even other lists.

empty_list = []
numbers = [1, 2, 3, 4, 5, 6, 7]
mixed_list = ["Pakistan", 2.14, True, 77]
nested_list = [[27, 87], [6, 9]]

Accessing List Elements

In [4]:
my_fruitlist = ["pineapple", "mango", "peach", "cherry"]
print (my_fruitlist [0])
print(my_fruitlist[-1])

pineapple
cherry

In [6]:
# reverse a list using slicing

my_list = [77, 87, 90, 4]
print (my_list [2])
print(my_list [::-1])

90
[4, 90, 87, 77]

Modifying Lists

In [10]:
# Replacing the value on 1st index

my_list[1] = "z"
print(my_list)

[77, 'z', 90, 4]