Looping Through a List

In [1]:
# item is used to print items from the list in verticle manner.

my_list = ["apple", "banana", "cherry"]
for item in my_list:
    print(item)

apple
banana
cherry

Enumerate (with index)

In [2]:
for i, item in enumerate(my_list):
    print(i, item)

0 apple
1 banana
2 cherry

OR

In [3]:
my_list = ['apple', 'banana', 'cherry']

for index, fruit in enumerate(my_list):
    print(index, fruit)

0 apple
1 banana
2 cherry

List Comprehensions

In [4]:
squares = [x**2 for x in range(10)]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

Squares with even numbers

In [5]:
even_squares = [x**2 for x in range(10) if x % 2 == 0]

even_squares

[0, 4, 16, 36, 64]