String Slicing

In [2]:
a="Newyork"
print(a[0])

N

In [4]:
a="Newyork"
print(a[3], a[5])

y r

In [5]:
a="Pakistan"
print(a[2:6])

kist

# Omitting start or end

In [6]:
a="Jack and Jill"
print(a[:6])

Jack a

In [7]:
a="Pakistan"
print(a[:3])

Pak

In [8]:
a="Pakistan"
print(a[7:])

n

In [9]:
a="Sahar"
print(a[2:])

har

In [11]:
a="Sahar"
print(a[1:])
print(a[0:])

ahar
Sahar

# Using step

In [13]:
a="Pineapple"
print(a[1:4:2])

ie

In [14]:
a="Pineapple"
print(a[::2])

Pnape

Reversing the string

In [16]:
a="pineapple"
print(a[::-1])

elppaenip

In [17]:
a="pineapple"
print(a[::-2])

epanp

In [23]:
a="pineapple"
print(a[::5])

pp

For Loop

In [24]:
# Loop from 0 to 4 (range(5) generates numbers 0 to 4)
for i in range(5):
    # Print the current value of i
    print(i)

0
1
2
3
4

In [25]:
# Loop from 0 to 27 (range(28) generates numbers 0 to 27)
for i in range(28):
    # Print the current value of i
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27

In [26]:
# Loop through a string
for char in "Sahar":
  # print all character
    print(char)

S
a
h
a
r

In [27]:

# Loop through each character in the string "Sahar Ejaz"
for i in "Sahar Ejaz":
    # If the current character is 'a'
    if i == 'a':
        # Print the character (which is 'a')
        print(i)

a
a
a

In [28]:

# Loop through each character in the string "UnitedStatesofAmerica"
for i in "UnitedStatesofAmerica":
    # If the current character is 'a'
    if i == 'a':
        # Print the character (which is 'a')
        print(i)

a
a

In [30]:

# Loop through each character in the string "UnitedStatesofAmerica"
for i in "UnitedStatesofAmerica":
    # If the current character is 'A'
    if i == 'A':
        # Print the character (which is 'A')
        print(i)

A

In [31]:

# Loop through each character in the string "UnitedStatesofAmerica"
for i in "UnitedStatesofAmerica":
    # If the current character is 'e'
    if i == 'e':
        # Print the character (which is 'e')
        print(i)

e
e
e

In [32]:
for x in "classroom":
  if x == "o":
    print(x)

o
o

While Loop

In [33]:

# Initialize variable i with the value 1
i = 1

# Run the loop as long as i is less than or equal to 5
while i <= 5:
    # Print the current value of i
    print(i)

    # Increase the value of i by 1 after each iteration
    i += 1

1
2
3
4
5

In [34]:
# Initialize variable i with the value 1
i = 1

# Run the loop as long as i is less than or equal to 5
while i <= 20:
    # Print the current value of i
    print(i)

    # Increase the value of i by 1 after each iteration
    i += 2

1
3
5
7
9
11
13
15
17
19

Break Statement

In [35]:
# Loop through numbers from 0 to 9
for i in range(10):
    # If the current number is 5, exit the loop completely
    if i == 5:
        break  # Terminates the loop when i equals 5
    # Print the current number
    print(i)

0
1
2
3
4

In [42]:
# Loop through numbers from 0 to 18
for i in range(20):
    # If the current number is 5, exit the loop completely
    if i == 18:
        break  # Terminates the loop when i equals 5
    # Print the current number
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17

Continue Statement

In [43]:
# Loop through numbers from 0 to 9
for i in range(10):
    # If the current number is 5, skip this iteration
    if i == 5:
        continue  # Skip printing and go to the next number
    # Print the current number
    print(i)

0
1
2
3
4
6
7
8
9

In [44]:
# Loop through numbers from 0 to 15
for i in range(15):
    # If the current number is 5, skip this iteration
    if i == 12:
        continue  # Skip printing and go to the next number
    # Print the current number
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
13
14

Pass Statement

In [45]:
# Loop through numbers from 0 to 9
for i in range(10):
    # If the number is 5, do nothing and continue
    if i == 5:
        pass  # 'pass' is a placeholder that does nothing
    # Print the current number
    print(i)

0
1
2
3
4
5
6
7
8
9