In [ ]:
print("Hello! I'm Sahar \n I'm From Pakistan \n I love to travel")

Hello! I'm Sahar
 I'm From Pakistan
 I love to travel

In [ ]:
a= 12
b= 17.5
c=True
d="Sahar"

print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'float'>
<class 'bool'>
<class 'str'>

#Changing String into Integer

In [5]:
string_number = "12345"
int_number = int(string_number)
print(int_number)
print(type(int_number))

12345
<class 'int'>

In [6]:
city_code ="1122"
a = int(city_code)
print(a)
print(type(a))

1122
<class 'int'>

In [8]:
x = float(77)
print(x)

77.0

In [9]:
x = str(1999)
print(x)
print(type(x))

1999
<class 'str'>