# Sets and Frozen Sets

In [6]:
#Frozen Set
print("FROZEN SET\n")

#Assigning Values
print("Assigning Values\n")
my_frozenset_list = frozenset([1, 2, 3, True])
print("my_frozenset_list", type(my_frozenset_list))
print(f"\n{my_frozenset_list}\n\n")

FROZEN SET

Assigning Values

my_frozenset_list <class 'frozenset'>

frozenset({1, 2, 3})

In [7]:
# Frozen set as Tuple

my_frozenset_tuple = frozenset((False, 0, 1, 2, 3, "black", 2j))
print("my_frozenset_tuple", type(my_frozenset_tuple))
print(f"\n{my_frozenset_tuple}\n\n")

my_frozenset_tuple <class 'frozenset'>

frozenset({False, 1, 2, 3, 2j, 'black'})

In [8]:
# Frozen set as Set

my_frozenset_set = frozenset({1, 2, 3, "black", 2j})
print("my_frozenset_set", type(my_frozenset_set))
print(f"\n{my_frozenset_set}\n\n")

my_frozenset_set <class 'frozenset'>

frozenset({1, 2, 3, 2j, 'black'})

In [9]:
# Frozen set as Dictionary


my_frozenset_dict = frozenset(dict(name="Henry",age=28,address="125, st.9, Mayfair Road")) #doesn't create dict inside a frozen set
print("my_frozenset_dict", type(my_frozenset_dict))
print(f"\n{my_frozenset_dict}\n\n")

my_frozenset_dict <class 'frozenset'>

frozenset({'address', 'name', 'age'})

In [10]:
#Accessing Values
# my_frozenset_set = frozenset({1, 2, 3, "black", 2j})  this is the st we used above, if the element is present in set it will print True otherwise False.

print("Accessing Values\n")
for x in my_frozenset_set:
    print(x)

print("white" in my_frozenset_set)

print("black" in my_frozenset_set)

Accessing Values

1
2
3
2j
black
False
True

# Using Union to add values

In [16]:
# 1. Using Union Union to add values indirectly

print("\n\nAdding Values\n")
print("Using Union Method\n")
my_frozenset_set=my_frozenset_set.union([4])
print("my_frozenset_set", type(my_frozenset_set))
print(f"\n{my_frozenset_set}\n\n")

Adding Values

Using Union Method

my_frozenset_set <class 'frozenset'>

frozenset({1, 2, 3, 4, 2j, 'black'})

In [13]:
# Checking the id and using Union

default_permissions=frozenset(("read", "write"))
new_permissions=("delete", "execute")
print(type(new_permissions))

print(id(default_permissions))

default_permissions=default_permissions.union(new_permissions)
print(default_permissions, type(default_permissions))

<class 'tuple'>
134585091350464
frozenset({'write', 'read', 'delete', 'execute'}) <class 'frozenset'>

In [14]:
#Using a dictionary to add values indirectly while creating a new frozen set

new_permissions={"permissions":("delete", "execute")}
print(type(new_permissions))

default_permissions=frozenset(("read", "write"))
default_permissions=default_permissions.union(new_permissions["permissions"])
print(default_permissions, type(default_permissions))

<class 'dict'>
frozenset({'write', 'read', 'delete', 'execute'}) <class 'frozenset'>

In [15]:
#Checking Memory Address
print(id(default_permissions))

134585091350688

# Using Intersection Method to add values indirectly

In [28]:
# 2. Using Intersection Method to add values indirectly

default_permissions = frozenset(("read", "write", "delete", "execute"))
new_permissions = frozenset(("delete", "execute"))

result = default_permissions.intersection(new_permissions)
print(result)   # frozenset({'delete', 'execute'})

frozenset({'execute', 'delete'})

# Using - operator to remove values indirectly

In [19]:
# Removing Values indirectly

# 1. Using - operator to remove values indirectly
print("\n\nRemoving Values\n")

default_permissions=frozenset(("read", "write", "delete", "execute"))
print(default_permissions, type(default_permissions))

new_permissions=frozenset(("delete", "execute"))
print(new_permissions, type(new_permissions))

default_permissions=default_permissions-new_permissions
print("\nUsing - operator \n", default_permissions, type(default_permissions))

Removing Values

frozenset({'write', 'read', 'delete', 'execute'}) <class 'frozenset'>
frozenset({'execute', 'delete'}) <class 'frozenset'>

Using - operator
 frozenset({'write', 'read'}) <class 'frozenset'>

# Using difference method to remove values indirectly

In [20]:
# 2. Using difference method to remove values indirectly

default_permissions=frozenset(("read", "write", "delete", "execute"))
print(default_permissions, type(default_permissions))

#new_permissions=frozenset(("delete", "execute"))
#print(new_permissions, type(new_permissions))

# Using a set
new_permissions={"delete", "execute"}
print(new_permissions, type(new_permissions))

#Using a dictionary
new_permissions={"permissions":("delete", "execute")}
print(new_permissions, type(new_permissions))

default_permissions=default_permissions.difference(new_permissions["permissions"])
print("\nUsing difference method \n", default_permissions, type(default_permissions))

frozenset({'write', 'read', 'delete', 'execute'}) <class 'frozenset'>
{'execute', 'delete'} <class 'set'>
{'permissions': ('delete', 'execute')} <class 'dict'>

Using difference method
 frozenset({'write', 'read'}) <class 'frozenset'>

#Using Dictionary in sets

In [29]:
#Dictionary

#Assigning Values
User_info={
    "name": "Henry",
    "age": 28,
    "address": "125, St. 9, Mayfair Road",
    "year": 2000,
    "offsprings": ["Kenny", "Wendy", "Mark"]
}

print(User_info)

countries=dict(name= "Pakistan", language= "Urdu", year=1947)

#Accessing Values
print(countries["year"])

countries.get("language")

countries.keys()

countries.values()

countries.items()

#Let us access values of a dictionary where a tuple is a key
location={"city":"Islamabad", ("longitude","latitude"):("-51.4930","-30.2342")}
print(location.keys)

print(location["longitude","latitude"])

#Changing Items

countries["year"]=1990

countries.items()

countries.update({"year":2000})

countries.items()

countries2={"year": 2005}
countries.update(countries2)

countries.items()

# Adding Items
countries["capital"]="Islamabad"
countries.items()

countries.update({"rivers_count": 5})
countries.items()

continent = {"continent_name": "Asia"}
countries.update(continent)
countries.items()

#Removing Items
countries=dict(name= "Pakistan", language= "Urdu", year=1947)
countries.pop("year")
#countries.popitem()
#print(countries)

countries.popitem()
print(countries)

countries.clear()
print(countries)

del countries
#print(countries)

{'name': 'Henry', 'age': 28, 'address': '125, St. 9, Mayfair Road', 'year': 2000, 'offsprings': ['Kenny', 'Wendy', 'Mark']}
1947
<built-in method keys of dict object at 0x7a67602d8b00>
('-51.4930', '-30.2342')
{'name': 'Pakistan'}
{}