Tuples in Python

A tuple is similar to a list, but it is immutable – you cannot add, remove, or modify elements.

In [ ]:
#Tuple Syntax


my_tuple = (item1, item2, item3)

empty_tuple = ()
single = (5,)
mixed_tuple = ("apple", 1, 3.14, False)

Accessing Tuple Elements

In [1]:
my_tuple = ("a", "b", "c")
print(my_tuple[0])
print(my_tuple[-1])

a
c

Tuple Immutability

In [2]:
#  Raises TypeError because tuple can not be changed.

my_tuple[1] = "z"

TypeError: 'tuple' object does not support item assignment

Tuple Methods

1. count(value) – Count occurrences

In [4]:
my_tuple = ("a", "b", "c", "a")
my_tuple.count("a")

2

2. index(value) – Index of value

In [6]:
my_tuple.index("c")

2

Conversion: List ↔ Tuple

In [9]:
my_list = ["apple", "mango", "banana"]
my_tuple = tuple(my_list)
print(my_tuple)

('apple', 'mango', 'banana')

Tuple to List

In [10]:
my_tuple = ("apple", "mango", "banana")
my_list = list(my_tuple)
print(my_list)

['apple', 'mango', 'banana']

List vs Tuple


1.   List [  ] , It is Mutable, It has many methods, Performance is slower, Use case is Dynamic Data.

2.   Tuple (  ) , It is Immutable, It has few methods, Performance is faster and use case is Fixed Structure

Intermediate List Techniques

In [ ]:
1. Nested List Access

In [11]:
# here matrix is the value in the bracket, starting from 0 index.

matrix = [[1, 2], [3, 4]]
print(matrix[1][0])

3

In [12]:
matrix = [[1, 2], [3, 4]]
print(matrix[0][1])

2

2. Unpacking Lists and Tuples

In [13]:
a, b, c = [1, 2, 3]
print(a)
print(b)
print(c)

1
2
3

In [14]:
a, b, c = ["Sana", "Ali", "Hamza"]
print(a)
print(b)
print(c)

Sana
Ali
Hamza

3. Slicing

In [16]:
# here the print command will print value from index 1 to 5. it will not include the value on 5th index.

my_list = [0, 1, 2, 3, 4, 5]
print(my_list[1:5])

[1, 2, 3, 4]

4. Check Membership

In [17]:
"apple" in ["banana", "apple", "cherry"]

True

In [20]:
"Rabia" in ["Sana", "Ali", "Hamza"]

False