Create a tuple of student info (name, age, grade). Try modifying it.

In [5]:
student_info = ("Shahwali Khan", 27, "male")
print(student_info)

('Shahwali Khan', 27, 'male')

In [6]:
# To modify tuple, we have to change it to list first and use Append function to add birth place. Now after modification change it back to tuple.

student_info = list(student_info)
student_info.append("Karachi")
student_info = tuple(student_info)
print(student_info)

('Shahwali Khan', 27, 'male', 'Karachi')

In [7]:
# if we dont change it to list, modification in tuple will not happen and it will give error.

student_info =("Shahwali Khan", 27, "male")
student_info.append("Karachi")
print(student_info)

AttributeError: 'tuple' object has no attribute 'append'